.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter.uangmodal{
    background-color: #8bc41b;
    color: #FFF;
  }  
  .card-counter.toko{
    background-color: #abc41b;
    color: #FFF;
  }  

  .card-counter.user{
    background-color: #045a97;
    color: #FFF;
  }  

  .card-counter.category{
    background-color: #23c9a5;
    color: #FFF;
  }

  .card-counter.supplier{
    background-color: #ec7a0f;
    color: #FFF;
  }  
  
  .card-counter.gudang{
    background-color: #ff7657;
    color: #FFF;
  }
  
  .card-counter.retur{
    background-color: #e036d7;
    color: #FFF;
  }  

  .card-counter.returkeseluruhan{
    background-color: #4fcf05;
    color: #FFF;
  }  

  .card-counter.penjualanhariini{
    background-color: #f1ce4d;
    color: #FFF;
  }  

  .card-counter.pembelianharini{
    background-color: #8413c5;
    color: #FFF;
  }  

  .card-counter.penjulankeseluruhan{
    background-color: #0ed873;
    color: #FFF;
  }  

  .card-counter.pembeiankeseluruhan{
    background-color: #e7455f;
    color: #FFF;
  }  

  .card-counter.pendapatjualharini{
    background-color: #c70d45;
    color: #FFF;
  }  

  .card-counter.pendapatjualkeseluruhan{
    background-color: #204ad4;
    color: #FFF;
  }  

  .card-counter.pendapatanbeliharini{
    background-color: #ffd00c;
    color: #FFF;
  }  

  .card-counter.pendapatanbelikeseluruhan{
    background-color: #f73859;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 25px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
  }

  .card-counter .count-sub-name{
    position: absolute;
    left: 30px;
    top: 87px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 10px;
  }